*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    background:linear-gradient(to bottom,#33ccff 0%,#ff99cc 100%);
}
h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.displayBtns{
    padding: 20px;
    font-display: bold;
}
.input{
    height: 10px;
    padding: 10px;

}
.displaybox{
    height: 100px;
    width: 200px;
    background-color: black;
    margin: 10px;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
.displaybox h3{
    color: white;
    font-size: 2rem;
}